body {
    padding: 0;
    margin: 0;
    background-color: #F8C3CD;
}

input:focus {
    outline: none;
}

a {
    color: darkblue;
}

.demoWrapper {
    margin: 0 10%;
}

.demoInfoPanel {
    padding: 15px 0;
    background-color: rgba(255, 255, 255, .2);
}

.demoInfoPanel > h1 {
    margin: 0;
}

.demoSettingPanel {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-color: rgba(0, 0, 0, .1);
}

.demoSettingPanel > * {
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.demoRenderWrapper {
    grid-column: 1 / 3;
}

.demoRenderWrapper > input {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
} 

.demonShowPanel {
    min-height: 180px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 255, 255, .2);
}
