.repo-widget {
  max-width: 360px;
  padding: 8px 8px 0;
  border: thin solid #eee;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  background-color: white;
  font-family: "Helvetica Nenu", Hevetica, Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.14) 0 1px 3px;
  box-sizing: content-box;
  a {
    text-decoration: none;
    outline: 0;
  }
  &__cardP {
    margin: 3px 0 4px 0;
    color: #555;
    line-height: 1.2;
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  &__avatar {
    float: left;
    > img {
      width: 48px;
  height: 48px;
  margin-right: 9px;
    }
  }
  &__repo {
    margin-right: 5px;
    font-size: 1.1rem;
    line-height: 1.4;
    color: #292f33;
  }
  &__headerStatus {
    font-size: 0.75rem;
    color: #5a6067;
    > span {
      width: 1em;
      height: 1em;
      margin: 0 5px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: -0.067em;
    }
    > svg {
      margin: 0 5px;
    }
  }
  &__creator {
    color: #707070;
  }
  &__buttonStar {
    padding: 4px 8px 4px 7px;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    float: right;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: #e6e6e6;
    background-image: linear-gradient(#fafafa, #eaeaea);
    display: flex;
    align-items: center;
    > svg {
      margin-left: 5px;
    }
  }
  &__content {
    padding: 6px 0 10px;
  }
  &__contentP {
    margin: 0 5px 0 0;
    font: 1.1rem Georgia, "Times New Roman", Palatino, serif;
    color: #555;
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
  }
  &__footer {
    border-top: thin solid #eee;
    padding: 8px 0 6px;
    display: flex;
    > .footerStatus {
      font-size: 0.75rem;
      padding-right: 10px;
      text-transform: uppercase;
      color: #555;
      line-height: 1.2;
      display: flex;
      align-items: center;
      > span {
        margin: 0 2px;
      }
    }
    > .update {
      padding-right: 0;
    }
  }
  &__svg {
    vertical-align: -0.125em;
  }
  &__spacer {
    flex-grow: 1;
  }
}